body {
    background-color: #D3D2D2;
    margin: 0 !important;
}

.imagen-fondo {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    box-shadow: 0px 0px 10px 10px #4B190F80;
}

@media screen and (max-width: 1064px) {
    .imagen-fondo {
        height: 500px;
    }
}

@media screen and (max-width: 800px) {
    .imagen-fondo {
        height: 500px;
    }
}


.foto-perfil {
    position: relative;
    width: 20%;
    margin-top: 5%;
    border-radius: 1000px;
    border: 1px solid #000000;
    box-shadow: 0px 0px 10px 10px #4B190F80;
}

@media screen and (max-width: 800px) {
    .foto-perfil {
        width: 200px;
    }
}

@media screen and (max-width: 480px) {
    .foto-perfil {
        width: 200px;
        margin-top: 30%;
    }
}

.titulo-principal-i .titulo-js {
    color: #4B190F;
}

.titulo-principal-i {
    font-size: calc(1vw + 1.1em);
}

.typed-cursor {
    color: #4B190F;
}

.mensaje-principal {
    position: relative;
    color: #4B190F;
    box-shadow: 0px 0px 10px 10px #4B190F80;
    width: 33%;
    border-radius: 25px;
    background-color: #FFFFFF40;
    padding-left: 15px;
}

.msj-principal-2 {
    position: relative;
}

.msj-principal-3 {
    position: relative;
}

@media screen and (max-width: 480px) {
    .mensaje-principal {
        width: 80%;
    }
}

.nombre-principal {
    color: #4B190F;
    font-size: calc(1vw + 1.3em);
    padding: 5px;
    box-shadow: 0px 0px 10px 10px #4B190F80;
    width: 15%;
    border-radius: 25px;
    background-color: #FFFFFF40;
}

@media screen and (max-width: 580px) {
    .nombre-principal {
        width: 40%;
    }
}

.nombre-secundario {
    color: #4B190F;
    font-size: calc(1vw + 1.3em);
    padding: 5px;
    box-shadow: 0px 0px 10px 10px #4B190F80;
    width: 20%;
    border-radius: 25px;
    background-color: #FFFFFF40;
}

@media screen and (max-width: 580px) {
    .nombre-secundario {
        margin-top: 5px;
        width: 50%;
    }
}

/* Biografia */

.cuadro-biografia {
    margin-top: 15%;
    box-shadow: 0px 0px 10px 10px #4B190F80;
    width: 50%;
    border-radius: 25px;
    background-color: #FFFFFF;
}

@media screen and (max-width: 800px) {
    .cuadro-biografia {
        margin-top: 150px;
        width: 90%;
    }
}

.titulo-biografia {
    padding-top: 20px;
    color: #4B190F;
}

.txt-biografia {
    width: 50%;
    padding-top: 10px;
    padding-bottom: 20px;
}

.texto-b {
    text-align: justify;
    font-size: 20px;
    font-style: italic;
    color: #4B190F;
}

.txt-especial {
    font-weight: 600;
    color: #4B190F;
}

/* Mis Proyectos */

.contenedor {
    display: flex;
    width: 44%;
    height: 40px;
    color: #4B190F;
    font-size: 50px;
    line-height: 40px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
    border-bottom: 2px solid #4B190F;
}

@media screen and (max-width: 800px) {
    .contenedor {
        width: 70%;
        font-size: 30px;
    }
}

ul {
    list-style: none;
    padding-left: 10px;
    animation: cambiar 7s infinite;
}

ul, p {
    margin: 0;
}

@keyframes cambiar {

    0% {
        margin-top: 0;
    }

    20% {
        margin-top: 0;
    }

    25% {
        margin-top: -40px;
    }

    50% {
        margin-top: -40px;
    }

    55% {
        margin-top: -80px;
    }

    80% {
        margin-top: -80px;
    }

    85% {
        margin-top: -40px;
    }

    95% {
        margin-top: -40px;
    }

    100% {
        margin-top: 0;
    }
}

.info-proyectos {
    margin-top: 150px;
}

.tl-proyectos {
    display: flex;
    margin: auto;
    width: 50%;
    color: #4B190F;
    text-shadow: 0px 0px 10px #4b190f80;
}

.btn-ver {
    color: #4B190F;
    margin-top: 25px;
    font-size: 25px;
    box-shadow: 0px 0px 10px 10px #4b190f80;
    width: 5%;
    border-radius: 25px;
    background-color: #FFFFFF40;
    padding-inline: 15px;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .btn-ver {
        width: 20%;
    }
}

.btn-ver:hover {
    background-color: #FFFFFF;
}

a:link, a:visited, a:active {
    text-decoration: none;
}

/* Tarjetas */

.tarjeta-section {
    margin: 30px 0 0 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    width: 1100px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 480px) {
    .wrap {
        grid-template-columns: 1fr;      
        width: 100%;
    }
}

.tarjeta-wrap {
    margin: 20px;
    -webkit-perspective: 800;
    perspective: 800;
}

.tarjeta {
    width: 30vw;
    height: 40vw;
    box-shadow: 0px 10px 15px -5px rgb(0 0 0 / 65%);
    background-image: url("../Img/Fondo-Madera-Original.jpg");
    position: relative;
    transform-style: preserve-3d;
    transition: .7s ease;
    border-radius: 15px;
}

@media screen and (max-width: 480px) {
    .tarjeta {
        width: 100%;
        height: 450px;
    }
}

.adelante, .atras {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.atras {
    transform: rotateY(180deg);
    padding: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tarjeta-wrap:hover .tarjeta {
    transform: rotateY(180deg);
}

.img-tarjeta {
    width: 40%;
    margin-top: 40%;
}

@media screen and (max-width: 480px) {
    .img-tarjeta {
        margin-top: 30%;
    }
}

.img-tarjeta-atras {
    width: 30%;
    margin-top: 5%;
}

.txt-tarjeta {
    color: #FFFFFF;
    font-weight: 700;
    width: 40%;
}

.txt-atras-titulo {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
}

.p-atras {
    font-size: 14px;
    padding-inline: 10px;
    text-align: justify;
}

.sec-txt-atras {
    font-weight: 600;
    color: #4d4d4d;
    font-size: 1.5vw;
    margin-bottom: 6%;
    color: #FFFFFF;
    margin-top: -5px;
    text-shadow: 0px 0px 10px #000000;
}

@media screen and (max-width: 480px) {
    .sec-txt-atras {
        font-size: 16px;
    }
}

/* Carrusel */

.text-carrusel {
    background-color: #0000004D;
    box-shadow: 0px 5px 30px 40px #0000004d;
    margin-inline: 25%;
}

.sec-carrusel {
    margin: 80px;
    box-shadow: 0px 0px 10px 0px #000000;
}

@media screen and (max-width: 480px) {
    .sec-carrusel {
        margin: 10px;
        margin-top: 70px;
    }
}

.flecha {
    background-color: #00000080;
    border-radius: 100%;
    padding-left: 4px;
    padding-right: 6px;
    padding-top: 4px;
}

.flecha-2 {
    background-color: #00000080;
    border-radius: 100%;
    padding-left: 6px;
    padding-right: 4px;
    padding-top: 4px;
}

.title-proyect {
    color: #4B190F;
    font-family: emoji;
    margin-bottom: -35px;
    text-shadow: 0px 0px 10px #4b190f80;
}

@media screen and (max-width: 480px) {
    .title-proyect {
        margin-top: 20px;
    }
}

.title-proyect-2 {
    color: #4B190F;
    font-family: emoji;
    margin-bottom: -35px;
    margin-top: 130px;
    text-shadow: 0px 0px 10px #4b190f80;
}

@media screen and (max-width: 480px) {
    .title-proyect-2 {
        margin-top: 70px;
    }
}

.pie-pagina {
    box-shadow: 0px 5px 30px 40px #0000004d;
    padding-top: 40px;
    background-color: #ffffff;
    margin-top: 150px;
}

.txt-contacto {
    color: #4B190F;
    font-family: emoji;
    text-shadow: 0px 0px 10px #4b190f80;
}

.imagen-contacto {
    width: 40px;
    margin-inline: 10px;
    margin-bottom: 30px;
}

.txt-largo-contacto {
    color: #4B190F;    
}

.volver {
    padding: 30px;
}

.btn-volver {
    color: #4B190F;
    font-size: 25px;
    /*box-shadow: 0px 0px 10px 10px #4b190f80;
    width: 9.5%;
    border-radius: 25px;*/
    /*background-color: #FFFFFF40;*/
    padding-inline: 15px;
    cursor: pointer;
    margin-top:15px;
    margin-left:15px;
}

@media screen and (max-width: 800px) {
    .btn-volver {
        width: 30%;
    }
}

.btn-volver:hover {
    color: #4B190F80;
}

.img-flecha {
    width: 30px;
    margin-left: 30px;
    margin-right: 5px;
}